<section class="login">
    <%= form_for(PinspirationCredential.new, :url => {:controller => 'sessions', :action => 'create'}) do |f| %>
      <i class="fa fa-pinterest" aria-hidden="true"></i>
      <p>Welcome to Pinspirations, the world's catalog of ideas</p>

      <%= f.text_field :name, placeholder: "Name" %>

      <%= f.text_field :username, placeholder: "Username" %>

      <%= f.text_field :email, placeholder: "Email" %>

      <%= f.password_field :password, placeholder: "Password" %>

      <%= f.text_field :phone_number, placeholder: "Phone number" %>

      <%= f.label :image_url %>
      <%= f.text_field :image_url %>

      <%= f.submit "Continue", {class: "btn-continue"} %>

      <%= link_to 'Google SignIn', google_login_path, {class: "btn-continue"} %>
      <%= link_to "Log in", login_path, {class: "btn-continue"} %>
    <% end %>
</section>
