<div id="masonry-container" class="transitions-enabled infinite-scroll centered clearfix">
  <% if current_user == @user %>
    <div class="box col3">
      <section class="board">
        <ul>
          <%= link_to new_registered_users_board_path(@user.username) do %>
            <li class="image">
              <i class="fa fa-plus-circle fa-3" aria-hidden="true"></i>
            </li>
          <% end %>
          <li class="board-name">Create Board</li>
        </ul>
      </section>
    </div>
  <% end %>
    <% @boards.each do |board| %>
    <div class="box col3">
      <section class="board">
        <ul>
          <%= link_to registered_users_board_path(@user.username, board.name) do %>
            <li class="image"></li>
          <% end %>
          <li class="board-name"><%= board.name %></li>
          <li class="board-pin-count"><%= board.pins.count %> pins</li>
          <li>
            <% if current_admin %>
              <%= link_to "Delete", admin_board_path(board), method: :delete, class: "btn-delete" %>
            <% end %>
          </li>
          <li>
            <% if current_user == @user %>
              <%= link_to "Edit", registered_users_edit_board_path(@user.username, board.name), class: "btn-edit" %>
            <% end %>
          </li>
        </ul>
      </section>
    </div>
    <% end %>
</div>
