<div class='box col4 pin'>

  <div class='pin-icons'>
    <% if current_user && current_user.already_liked?(pin) %>
      <%= link_to pin_unlike_path(pin, Like.this_user(pin, current_user)), method: :delete, class: 'unlike-pin' do %>
        <i class="fa fa-heart" aria-hidden="true"></i>
      <% end %>
    <% else %>
      <%= link_to pin_like_path(pin), method: :post, class: 'like-pin' do %>
        <i class="fa fa-heart" aria-hidden="true"></i>
      <% end %>
    <% end %>
    <i class="fa fa-paper-plane" aria-hidden="true"></i>
  </div>

  <%= link_to pin_path(pin) do %>
    <%= image_tag(pin.image_url) %>
  <% end %>

  <p><%= pin.description %></p>
  <div class="pin-foot">
    <%= image_tag(pin.registered_user.image_url) %>
    <aside>
      <p><strong><%= link_to pin.registered_user.name, registered_user_path(pin.registered_user.username) %></strong></p>
      <p><%= pin.board.name  %></p>
    </aside>
  </div>
  <% if current_admin %>
  <%= link_to "Delete", admin_pin_path(pin), method: :delete, class: 'btn-delete' %>
  <% end %>
</div>
