<section class="user">
  <ul class="user-info">
    <li class="left">
      <h1><%= @user.name %></h1>
    </li>
    <li class="right">
      <ul class="followers">
        <li class"number"><%= @user.followers.count %></li>
        <li>Followers</li>
      </ul>
      <ul class="followings">
        <li class"number"><%= @user.followings.count %></li>
        <li>Following</li>
      </ul>
    </li>
    <li class="user-image">
      <% if @user.image_url.present? && "up" == "down" %>
      <%= image_tag(@user.image_url) %>
      <% else %>
      <i class="fa fa-rocket user-large" aria-hidden="true"></i>
      <% end %>
    </li>
  </ul>
  <ul class="board-pin-like">
    <li class="active"><%= link_to "Boards", registered_users_boards_path(@user.username)%></li>
    <li><%= link_to "Pins", registered_users_pins_path(@user.username)%></li>
    <li><%= link_to "Likes","#"%></li>
  </ul>

  <% if current_user.present? && @user != current_user %>
  <%= link_to "Follow", registered_users_following_create_path(current_user.username, @user.username), method: :post %>
  <% end %>

  <% if current_user && current_user.followings.include?(@user) %>
  <%= link_to "Unfollow", registered_users_following_destroy_path(current_user.username, @user.username, :option => 'from_user_show_page'), method: :delete %>
  <% end %>

</section>
