<h2>Profile</h2>

<%= form_for @credentials, :html => { class: 'edit' }  do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :username %>
  <%= f.text_field :username %>

  <%= f.label :email %>
  <%= f.text_field :email %>

  <%= f.label :phone_number %>
  <%= f.text_field :phone_number %>

  <%= f.submit "Save Settings" %>
<% end %>

<%= link_to "Cancel", registered_user_path(@credentials.username), class: 'btn-cancel' %>
