<section class='edit'>
  <% if @credentials && !current_admin %>
    <%= render 'form' %>
  <% end %>

  <h2>Account Basics</h2>
  
  <p><%= "Account #{@user.status}" %></p>
  <br>
  <% if "#{@user.status}" == 'online' %>
    <%= link_to "Deactivate Account", deactivate_registered_user_path(@user.username), method: :patch, :class => "btn-deactivate", :data => {:confirm => "Are you sure you want to deactivate this account?"} %>
  <% elsif "#{@user.status}" == 'offline' %>
    <%= link_to "Reactivate Account", reactivate_registered_user_path(@user.username), method: :patch, :class => "btn-deactivate", :data => {:confirm => "Are you sure you want to reactivate this account?"} %>  
  <% end %>
  <% if current_user && current_user.username == @user.username %>
    <%= link_to "Delete Account Permanently", registered_user_path(@user.username), method: :delete, :class => "btn-delete", :data => {:confirm => "Are you sure you want to delete your account?"} %>
  <% end %>
</section>
