  <section class='edit'>
    <section class="password-reset">
      <h2>Enter the 6-digit confirmation pin that was sent to you via SMS and a new password</h2>

      <%= form_tag({controller: "passwords", action: "verify_confirm"}, :method => :put) do %>
      <section class="search">
        <%= text_field_tag :pin, placeholder: "pin" %>
        <%= password_field_tag :password, placeholder: "password" %>
        <%= hidden_field_tag :email, params[:email] %>
        <%= submit_tag "Update Password", {class: "btn-continue"} %>
      <% end %>
      </section>

    </section>
  </section>
