<h1>Add a New Board</h1>

<%= link_to 'Cancel', registered_users_boards_path(current_user.username) %>
<%= form_for :board, url: "/#{current_user.username}/boards" do |f| %>
  <%= f.text_field :name, placeholder: "name" %>
  <%= f.text_field :description, placeholder: "description" %>
  <%= f.collection_select :category, Category.all, :id, :name, :prompt => 'Select Category' %>
  <%= f.select :private, ['public', 'private'], selected: 'public' %>
  <%= submit_tag "Submit" %>
<% end %>
