<h1><%= @board.name %></h1>
<%= link_to 'Edit', registered_users_edit_board_path(@username, @board.name)%>
<%= @board_presenter.board.name %>
<%= @board_presenter.user.name %>

<% @board_presenter.pins.each do |pin| %>
  <%= pin.description %>
  <%= image_tag("#{pin.image_url}") %>
<% end %>
