<%= render partial: 'shared/user' %>
<section class="content">
  <div id="masonry-container" class="transitions-enabled infinite-scroll centered clearfix">
    <% @following.each do |f| %>
      <div class="box col4 follower">
      <%= link_to registered_user_path(f.username) do %>
        <% if f.image_url.present? %>
          <%= image_tag(f.image_url, class: "user-follow") %>
        <% else %>
          <i class="fa fa-user user-follow" aria-hidden="true"></i>
        <% end %>
        <span> <%= f.name %> </span>
      <% end %>
      <% if current_user == @user %>
        <%= link_to "Unfollow", registered_users_following_destroy_path(current_user.username, f.username, :option => 'from_following_index_page'), method: :delete, class: "btn-unfollow-index" %>
      <% end %>
      </div><!-- end col4 -->
    <% end %>
  </div><!-- end masonry -->
</section>
