<footer class="footer-top">
  <ul>
    <li> <%= link_to "About Pinterest", "#" %> </li>
    <li> <%= link_to "Blog", "#" %> </li>
    <li> <%= link_to "Business", "#" %> </li>
    <li> <%= link_to "Terms of Service", "#" %> </li>
    <li> <%= link_to "Privacy Policy", "#" %> </li>
    <li> <%= link_to "Help", "#" %> </li>
    <li> <%= link_to "iPhone App", "#" %> </li>
    <li> <%= link_to "Android App", "#" %> </li>
  </ul>
</footer>
<footer class="footer-bottom">
  <ul>
    <li> Discover Pinterest: </li>
    <li> <%= link_to "Gardening", "#" %> </li>
    <li> <%= link_to "Travel", "#" %> </li>
    <li> <%= link_to "Kids", "#" %> </li>
    <li> <%= link_to "Weddings", "#" %> </li>
    <li> <%= link_to "Humor", "#" %> </li>
    <li> <%= link_to "Quotes", "#" %> </li>
    <li> <%= link_to "DIY", "#" %> </li>
    <li> <%= link_to "Design", "#" %> </li>
    <li> <%= link_to "Animals", "#" %> </li>
    <li> <%= link_to "Sitemap", "#" %> </li>
    <li> <%= link_to "International", "#" %> </li>
  </ul>
</footer>
