<nav>
  <section class="navbar">
    <ul>
      <li>
        <% if current_admin %>
          <%= link_to admin_dashboard_path do %>
            <i class="fa fa-pinterest" aria-hidden="true"></i>
          <% end %>
        <% else %>
          <%= link_to root_path do %>
            <i class="fa fa-pinterest" aria-hidden="true"></i>
          <% end %>
        <% end %>
      </li>

      <li>
        <% if current_admin %>
          <%= link_to "Log out", admin_logout_path, method: :delete, class: "log-out" %>
        <% elsif current_user %>
          <%= link_to "Log out", logout_path, method: :delete, class: "log-out" %>
        <% end %>
      </li>

      <li class="search">
          <input type="text" placeholder="Search..." required>
      </li>

      <li>
        <ul>
          <li>
            <%= link_to "#" do %>
              <i class="fa fa-bandcamp" aria-hidden="true"></i>
            <% end %>
          </li>

          <li>
            <%= link_to "#" do %>
              <i class="fa fa-shopping-bag" aria-hidden="true"></i>
            <% end %>
          </li>

          <li>
            <%= link_to "#" do %>
              <i class="fa fa-plus-circle" aria-hidden="true"></i>
            <% end %>
          </li>

          <li>
            <%= link_to "#" do %>
              <i class="fa fa-commenting" aria-hidden="true"></i>
            <% end %>
          </li>

          <li>
            <% if current_user %>
              <%= link_to registered_user_path(current_user.username) do %>
                <i class="fa fa-user" aria-hidden="true" id="account"></i>
              <% end %>
            <% end %>
          </li>

        </ul>
      </li>
    </ul>
  </section>
</nav>
